:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*elementos Base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo{
    text-decoration: none;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 60px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*serie principal*/
.serie-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/capa-onepiece.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.serie-principal .descricao{
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.titulo{
    font-size: 40px;
}